p{
	font-size:14px;
	line-height:1.75
}

h1,h2,h3,h4,h5,h6{
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:uppercase;
	font-weight:700
}
.pd-5{
	padding: 5rem;
}
.bg-light-gray{
	background-color:#f7f7f7
}
.bg-code{
	background: url(../img/css_code.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.navbar-default{
	background-color:#222;
	border-color:transparent
}

.navbar-default .navbar-brand{
 	color:#fed136;
 	font-family:"Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
 }
 .navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus,.navbar-default {
 	color:#fec503
 }
.navbar-default .nav li a{
 	font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
 	text-transform:uppercase;
 	font-weight:400;
 	letter-spacing:1px;
 	color:#fff
 }
 .navbar-default .nav li a:hover,.navbar-default .nav li a:focus{
 	color:#fed136;
 	outline:0
 }
 .portfolio-caption{
 	color: #fed136
 }
 .about{
	padding-top: 10rem;
	font-size: 2.2rem;
 }

@media (min-width:768px){
 .navbar-default{
 	background-color:transparent;
 	padding:25px 0;
 	-webkit-transition:padding .3s;
 	-moz-transition:padding .3s;
 	transition:padding .3s;
 	border:0
 	}
 .navbar-default .navbar-brand{
 	font-size:2em;
 	-webkit-transition:all .3s;
 	-moz-transition:all .3s;
 	transition:all .3s
 }

 .navbar-default.navbar-shrink{
 	background-color:#222;
 	padding:10px 0
 }
 .navbar-default.navbar-shrink .navbar-brand{
 	font-size:1.5em
 	}}
 header{
 	background-image:url(../img/indie.jpg);
 	background-repeat:none;
 	background-attachment:fixed;
 	background-position:center center;
 	-webkit-background-size:cover;
 	-moz-background-size:cover;
 	background-size:cover;
 	-o-background-size:cover;
 	text-align:center;
 	color:#fff;
 	height: 100vh;
 }
 header .intro-text{
 	padding-top:100px;
 	padding-bottom:50px;
 }
 header .intro-text .intro-lead-in{
 	font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
 	font-style:italic;
 	font-size:22px;
 	line-height:22px;
 	margin-bottom:25px
 }
 header .intro-text .intro-heading{
 	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
 	text-transform:uppercase;
 	font-weight:700;
 	font-size:50px;
 	line-height:70px;
 	margin-bottom:25px;	
 }

@media (min-width:768px){
 header .intro-text{
 	padding-top:300px;
 	padding-bottom:200px
 }
 header .intro-text .intro-lead-in{
 	font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
 	font-style:italic;
 	font-size:40px;
 	line-height:40px;
 	margin-bottom:25px
 }
 header .intro-text .intro-heading{
 	font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px
 	}
section#hobbies{
	text-align: center;
	padding: 10% 0;
	height: 100vh;
}
.fa-pagelines:before,
.fa-cutlery:before,
.fa-futbol-o:before,
.fa-headphones:before{
    font-size: 10rem;
    padding-top: 8rem;
}
.fa-pagelines:hover,
.fa-cutlery:hover,
.fa-futbol-o:hover,
.fa-headphones:hover,
.fa-pagelines:active,
.fa-cutlery:active,
.fa-futbol-o:active,
.fa-headphones:active{
 	color:#fed136;
 	font-size: 1rem;
 }
#hobbies .hob .more h3:hover,
#hobbies .hob .more h3:active,
#hobbies .hob .more p:hover,
#hobbies .hob .more p:active {
	color:#fed136;
	font-size: 2rem;
}
 }
 section{
 	padding:100px 0
 }
 section h2.section-heading{
 	font-size:40px;
 	margin-top:-40px;
 	margin-bottom:15px;
 	}
 section h3.section-subheading{
 	font-size:16px;
 	font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
 	text-transform:none;
 	font-style:italic;
 	font-weight:400;
 	margin-bottom:75px}

@media (min-width:768px){
 	section{
 		padding:162px 0
 	}
 	.more{
 		padding-top: 8rem;
 	}
section#hobbies{
	text-align: center;
	padding: 10% 0;
	height: 100vh;
}
.fa-pagelines:before,
.fa-cutlery:before,
.fa-futbol-o:before,
.fa-headphones:before{
    font-size: 10rem;
    padding-top: 8rem;
}
.fa-pagelines:hover,
.fa-cutlery:hover,
.fa-futbol-o:hover,
.fa-headphones:hover,
.fa-pagelines:active,
.fa-cutlery:active,
.fa-futbol-o:active,
.fa-headphones:active{
 	color:#fed136;
 	font-size: 1rem;
 }
#hobbies .hob .more h3:hover,
#hobbies .hob .more h3:active,
#hobbies .hob .more p:hover,
#hobbies .hob .more p:active {
	color:#fed136;
	font-size: 2rem;
}
 }
section#contact{
 	background-color:#222;
 	background-image:url(../img/map-image.png);
 	background-position:center;
 	background-repeat:no-repeat;
 	background-attachment: fixed;
 	color: white;
 }

 footer{
 	padding:25px 0;
 	text-align:center
 }
 ul.social-buttons li a{
 	display:block;
 	background-color:#222;
 	height:40px;
 	width:40px;
 	border-radius:100%;
 	font-size:20px;
 	line-height:40px;
 	color:#fff;
 	outline:0;
 	-webkit-transition:all .3s;
 	-moz-transition:all .3s;
 	transition:all .3s
 }
 ul.social-buttons li a:hover,
 ul.social-buttons li a:active{
 	background-color:#fed136;
 }
}
.mg-center{
	margin: 0 auto;
}
