p{
	font-size:14px;
	line-height:1.5;
}

h1,h2,h3,h4,h5,h6{
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:uppercase;
	font-weight:700
}
.pd-5{
	padding: 5rem;
}
.bg-light-gray{
	background-color:#f7f7f7
}
.bg-code{
	background: url(../img/css_code.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.navbar-default{
	background-color:#222;
	border-color:transparent
}

.navbar-default .navbar-brand{
 	color:#fed136;
 	font-family:"Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
 }
 .navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus,.navbar-default {
 	color:#fec503
 }
.navbar-default .nav li a{
 	font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
 	text-transform:uppercase;
 	font-weight:400;
 	letter-spacing:1px;
 	color:#fff
 }
 .navbar-default .nav li a:hover,.navbar-default .nav li a:focus{
 	color:#fed136;
 	outline:0
 }
 .portfolio-caption{
 	color: #fed136
 }
 .about{
	padding-top: 5rem;
	font-size: 2.2rem;
 }

@media (min-width:768px){
 .navbar-default{
 	background-color:transparent;
 	padding:25px 0;
 	-webkit-transition:padding .3s;
 	-moz-transition:padding .3s;
 	transition:padding .3s;
 	border:0
 	}
 .navbar-default .navbar-brand{
 	font-size:2em;
 	-webkit-transition:all .3s;
 	-moz-transition:all .3s;
 	transition:all .3s
 }

 .navbar-default.navbar-shrink{
 	background-color:#222;
 	padding:10px 0
 }
 .navbar-default.navbar-shrink .navbar-brand{
 	font-size:1.5em
 	}}
 header{
 	background-image:url(../img/indie.jpg);
 	background-repeat:none;
 	background-attachment:fixed;
 	background-position:center center;
 	-webkit-background-size:cover;
 	-moz-background-size:cover;
 	background-size:cover;
 	-o-background-size:cover;
 	text-align:center;
 	color:#fff;
 	height: 100vh;
 }
 header .intro-text{
 	padding-top:100px;
 	padding-bottom:50px;
 }
 header .intro-text .intro-lead-in{
 	font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
 	font-style:italic;
 	font-size:22px;
 	line-height:22px;
 	margin-bottom:25px
 }
 header .intro-text .intro-heading{
 	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
 	text-transform:uppercase;
 	font-weight:700;
 	font-size:50px;
 	line-height:70px;
 	margin-bottom:25px;	
 }

@media (min-width:768px){
 header .intro-text{
 	padding-top:300px;
 	padding-bottom:200px
 }
 header .intro-text .intro-lead-in{
 	font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
 	font-style:italic;
 	font-size:40px;
 	line-height:40px;
 	margin-bottom:25px
 }
 header .intro-text .intro-heading{
 	font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px
 	}
#skills#hobbies{
	text-align: center;
	padding: 10% 0;
	height: 100vh;
}
.fa-pagelines:before,
.fa-cutlery:before,
.fa-futbol-o:before,
.fa-headphones:before{
    font-size: 10rem;
    padding-top: 8rem;
}
.fa-pagelines:hover,
.fa-cutlery:hover,
.fa-futbol-o:hover,
.fa-headphones:hover,
.fa-pagelines:active,
.fa-cutlery:active,
.fa-futbol-o:active,
.fa-headphones:active{
 	color:#fed136;
 	font-size: 1rem;
 }
#hobbies .hob .more h3:hover,
#hobbies .hob .more h3:active,
#hobbies .hob .more p:hover,
#hobbies .hob .more p:active {
	color:#fed136;
	font-size: 2rem;
}
 }
 section{
 	padding:100px 0
 }
 section h2.section-heading{
 	font-size:40px;
 	margin-top:-40px;
 	margin-bottom:15px;
 	}
 section h3.section-subheading{
 	font-size:16px;
 	font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
 	text-transform:none;
 	font-style:italic;
 	font-weight:400;
 	margin-bottom:75px}

@media (min-width:768px){
 	section{
 		padding:162px 0
 	}
 	.more{
 		padding-top: 8rem;
 	}
section#hobbies{
	text-align: center;
	padding: 10% 0;
	height: 100vh;
}
.fa-pagelines:before,
.fa-cutlery:before,
.fa-futbol-o:before,
.fa-headphones:before{
    font-size: 10rem;
    padding-top: 8rem;
}
.fa-pagelines:hover,
.fa-cutlery:hover,
.fa-futbol-o:hover,
.fa-headphones:hover,
.fa-pagelines:active,
.fa-cutlery:active,
.fa-futbol-o:active,
.fa-headphones:active{
 	color:#fed136;
 	font-size: 1rem;
 }
#hobbies .hob .more h3:hover,
#hobbies .hob .more h3:active,
#hobbies .hob .more p:hover,
#hobbies .hob .more p:active {
	color:#fed136;
	font-size: 2rem;
}
 }
section#contact{
 	background-color:#222;
 	background-image:url(../img/map-image.png);
 	background-position:center;
 	background-repeat:no-repeat;
 	background-attachment: fixed;
 	color: white;
 }

 footer{
 	padding:25px 0;
 	text-align:center
 }
 ul.social-buttons li a{
 	display:block;
 	background-color:#222;
 	height:40px;
 	width:40px;
 	border-radius:100%;
 	font-size:20px;
 	line-height:40px;
 	color:#fff;
 	outline:0;
 	-webkit-transition:all .3s;
 	-moz-transition:all .3s;
 	transition:all .3s
 }
 ul.social-buttons li a:hover,
 ul.social-buttons li a:active{
 	background-color:#fed136;
 }
}
.mg-center{
	margin: 0 auto;
}
.contact{
	font-size: 1.8rem;
}
.skills {
	float: left;
	clear: right;
	width: 100%;
	margin: 20px 0px 30px 30px;
}

.skillsTop {
	float: left;
	clear: right;
	width: 100%;
	margin: 5px;
	text-align: left;
	/*font-weight: 600;*/
  	/*font-family: sans-serif;*/
  	/*font-weight: 200;*/
}

.skillsBottom {
	float: left;
	clear: right;
	width: 80%;
	margin: 2px 0px 0px 0px;
}

.progress {
	background:#e9e5e2; 
	height:20px; 
  -moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
  -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0    #fcfcfc;	 
	box-shadow: 0 1px 0px #bbbbbb inset, 0 1px 0 #fcfcfc;	  
}

.progress-bar {
 /* background-image: -webkit-linear-gradient(left, #826e2a 0%,
    #fed136 100%);
  background-image: -moz-linear-gradient(left, #826e2a 0%,
    #fed136 100%);
  background-image: -o-linear-gradient(left, #826e2a 0%,
    #fed136 100%);*/
  background-image: linear-gradient(to right, #826e2a 0%,
    #fed136 80%);
	height:100%;
	width:0%;
}


/*.adobe, 
.html, 
.css, 
.jquery, 
.javascript, 
.bootstrap, 
.wordpress, 
.ui, 
.ux, 
.rwd, 
.mobile, 
.rapidproto {
 	-webkit-transition: width 4.50s ease !important;
 	-moz-transition: width 4.50s ease !important;
   	-o-transition: width 4.50s ease !important;
   	transition: width 4.50s ease !important;
 }*/

.skills:hover{
	cursor:pointer;
}
.skills ul
{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
.skills li
{
	margin-bottom:2px;
	padding:5px;
	background:#ccc;
	position:relative;
	-webkit-transition:all 2s ease;
	-moz-transition:all 2s ease;
	transition:all 2s ease;
}
.skills ul li:last-child
{
	height:100px;
	background:#31333F;
	text-align:center;
	-webkit-transition:all 2s ease;
	-moz-transition:all 2s ease;
	transition:all 2s ease;
}
.skills ul li:last-child{position:relative;}
.skills:nth-child(1) ul li:nth-child(10){ background:#31333F;}
.skills:nth-child(1) ul li:nth-child(9){ background:#31333F;}
.skills:nth-child(1) ul li:nth-child(8){ background:#31333F;}
.skills:nth-child(1) ul li:nth-child(7){ background:#31333F;}
.skills:nth-child(1) ul li:nth-child(6){ background:#31333F;}
.skills:nth-child(1) ul li:nth-child(5){ background:#31333F;}
.skills:nth-child(1) ul li:nth-child(4){ background:#31333F;}
.skills:nth-child(2) ul li:nth-child(10){ background:#31333F;}
.skills:nth-child(2) ul li:nth-child(9){ background:#31333F;}
.skills:nth-child(2) ul li:nth-child(8){ background:#31333F;}
.skills:nth-child(2) ul li:nth-child(7){ background:#31333F;}
.skills:nth-child(3) ul li:nth-child(10){ background:#31333F;}
.skills:nth-child(3) ul li:nth-child(9){ background:#31333F;}
.skills:nth-child(3) ul li:nth-child(8){ background:#31333F;}
.skills:nth-child(3) ul li:nth-child(7){ background:#31333F;}
.skills:nth-child(3) ul li:nth-child(6){ background:#31333F;}
.skills:nth-child(3) ul li:nth-child(5){ background:#31333F;}
.skills:nth-child(3) ul li:nth-child(4){ background:#31333F;}
.skills:nth-child(3) ul li:nth-child(3){ background:#31333F;}
.skills:nth-child(3) ul li:nth-child(2){ background:#31333F;}
.skills:nth-child(4) ul li:nth-child(10){ background:#31333F;}
.skills:nth-child(4) ul li:nth-child(9){ background:#31333F;}
.skills:nth-child(4) ul li:nth-child(8){ background:#31333F;}
.skills:nth-child(4) ul li:nth-child(7){ background:#31333F;}
.skills:nth-child(4) ul li:nth-child(6){ background:#31333F;}

.skills i{color:#fff; font-size:3em;position:relative;top:25px;display:block;	-webkit-transition:all 2s ease;	-moz-transition:all 2s ease;
	transition:all 2s ease;}
.skills:nth-child(1):hover li:nth-child(11) i
{
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
	color:#31333F;
}
.skills li:last-child:after
{
	position:absolute;
    display:block;
    left:22px;
	bottom:-0px;
	color:#31333F;
	z-index:-1;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
    -webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
	text-align: center;	
}
/*.skills :nth-child(1) li:nth-child(11):after{content:"HTML5";}
.skills :nth-child(2) li:nth-child(11):after{content:"CSS3";left:27px;}
.skills :nth-child(3) li:nth-child(11):after{content:"Desktop";}
.skills :nth-child(4) li:nth-child(11):after{content:"Mobile";left:27px;}*/
.skills :hover li:last-child:after
{
	bottom:15px;
	z-index:1;
    -webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
}
.skills:nth-child(1):hover li:nth-child(11) {
	background:#E34C26;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	transition:all 0.5s ease;
	color:#31333F;
}
.skills:nth-child(1):hover li:nth-child(10) {
	background:#E34C26;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
}
.skills:nth-child(1):hover li:nth-child(9) {
	background:#E34C26;
	-webkit-transition:all 1.5s ease;
	-moz-transition:all 1.5s ease;
	transition:all 1.5s ease;
}
.skills:nth-child(1):hover li:nth-child(8) {
	background:#E34C26;
	-webkit-transition:all 2s ease;
	-moz-transition:all 2s ease;
	transition:all 2s ease;
}
.skills:nth-child(1):hover li:nth-child(7) {
	background:#E34C26;
	-webkit-transition:all 2.5s ease;
	-moz-transition:all 2.5s ease;
	transition:all 2.5s ease;
}.skills:nth-child(1):hover li:nth-child(6) {
	background:#E34C26;
	-webkit-transition:all 3s ease;
	-moz-transition:all 3s ease;
	transition:all 3s ease;
}
.skills:nth-child(1):hover li:nth-child(5) {
	background:#E34C26;
	-webkit-transition:all 3.5s ease;
	-moz-transition:all 3.5s ease;
	transition:all 3.5s ease;
}
.skills :nth-child(1):hover li:nth-child(4) {
	background:#E34C26;
	-webkit-transition:all 4s ease;
	-moz-transition:all 4s ease;
	transition:all 4s ease;
}

.skills :nth-child(2):hover li:nth-child(11) {
	background:#0092BF;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.skills :nth-child(2):hover li:nth-child(11) i
{
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
	color:#31333F;
}
.skills :nth-child(2):hover li:nth-child(10) {
	background:#0092BF;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
}
.skills :nth-child(2):hover li:nth-child(9) {
	background:#0092BF;
	-webkit-transition:all 1.5s ease;
	-moz-transition:all 1.5s ease;
	transition:all 1.5s ease;
}
.skills :nth-child(2):hover li:nth-child(8) {
	background:#0092BF;
	-webkit-transition:all 2s ease;
	-moz-transition:all 2s ease;
	transition:all 2s ease;
}
.skills:nth-child(2):hover li:nth-child(7) {background:#0092BF;-webkit-transition:all 2.5s ease;-moz-transition:all 2.5s ease;transition:all 2.5s ease;}

.skills:nth-child(3):hover li:nth-child(11) {
	background:#f00;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.skills:nth-child(3):hover li:nth-child(11) i
{
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
	color:#31333F;
}
.skills :nth-child(3):hover li:nth-child(10) {background:#f00;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;transition:all 0.5s ease;}
.skills :nth-child(3):hover li:nth-child(9) {background:#f00;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;}
.skills :nth-child(3):hover li:nth-child(8) {background:#f00;-webkit-transition:all 1.5s ease;-moz-transition:all 1.5s ease;transition:all 1.5s ease;}
.skills :nth-child(3):hover li:nth-child(7) {background:#f00;-webkit-transition:all 2s ease;-moz-transition:all 2s ease;transition:all 2s ease;}
.skills :nth-child(3):hover li:nth-child(6) {background:#f00;-webkit-transition:all 2.5s ease;-moz-transition:all 2.5s ease;transition:all 2.5s ease;}
.skills :nth-child(3):hover li:nth-child(5) {background:#f00;-webkit-transition:all 3s ease;-moz-transition:all 3s ease;transition:all 3s ease;}
.skills :nth-child(3):hover li:nth-child(4) {background:#f00;-webkit-transition:all 3.5s ease;-moz-transition:all 3.5s ease;transition:all 3.5s ease;}
.skills :nth-child(3):hover li:nth-child(3) {background:#f00;-webkit-transition:all 4s ease;-moz-transition:all 4.5s ease;transition:all 4.5s ease;}
.skills :nth-child(3):hover li:nth-child(2) {background:#f00;-webkit-transition:all 5s ease;-moz-transition:all 5s ease;transition:all 5s ease;}
.skills:nth-child(4):hover li:nth-child(11) {
	background:#027844;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.skills:nth-child(4):hover li:nth-child(11) i
{
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
	color:#31333F;
}
.skills img{
	margin: 2rem;
	width: 	4rem;
	height: 4rem;
}
.skills:nth-child(4):hover li:nth-child(10) {background:#027844;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;transition:all 0.5s ease;}
.skills:nth-child(4):hover li:nth-child(9) {background:#027844;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;}
.skills:nth-child(4):hover li:nth-child(8) {background:#027844;-webkit-transition:all 1.5s ease;-moz-transition:all 1.5s ease;transition:all 1.5s ease;}
.skills:nth-child(4):hover li:nth-child(7) {background:#027844;-webkit-transition:all 2s ease;-moz-transition:all 2s ease;transition:all 2s ease;}
.skills:nth-child(4):hover li:nth-child(6) {background:#027844;-webkit-transition:all 2.5s ease;-moz-transition:all 2.5s ease;transition:all 2.5s ease;}

#portfolio .portfolio-item{
	margin:0 0 15px;
	right:0
}

#portfolio .portfolio-item .portfolio-link{
	display:block;
	position:relative;
	max-width:400px;
	margin:0 auto
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover{
	background:rgba(254,209,54,.9)
	;position:absolute;width:100%;
	height:100%;
	opacity:0;transition:all ease .5s;
	-webkit-transition:all ease .5s;
	-moz-transition:all ease .5s
}
#portfolio
.portfolio-item
.portfolio-link
.portfolio-hover:hover{
	opacity:1
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content{
	position:absolute;
	width:100%;height:20px;
	font-size:20px;
	text-align:center;
	top:50%;margin-top:-12px;
	color:#fff
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i{
	margin-top:-12px
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4{
	margin:0
}
#portfolio .portfolio-item .portfolio-caption{
	max-width:400px;
	margin:0 auto;
	background-color:#fff;
	text-align:center;
	padding:25px
}
#portfolio .portfolio-item .portfolio-caption h4{
	text-transform:none;
	margin:0
}
#portfolio .portfolio-item .portfolio-caption p{
	font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-style:italic;
	font-size:16px;
	margin:0
}
#portfolio *{
	z-index:2
}