p{
	font-size:14px;
	line-height:1.75
}
a,a:hover,a:focus,a:active,a.active{
	outline:0
}

h1,h2,h3,h4,h5,h6{
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:uppercase;
	font-weight:700
}
.bg-code{
	background: url(../img/css_code.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.bg-light-gray{
	background-color:#f7f7f7
}

.navbar-default{
	background-color:#222;
	border-color:transparent
}
.navbar-default .navbar-brand{
	color:#fed136;
	font-family:"Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active{
	color:#fec503
}
.navbar-default .navbar-toggle{
background-color:#fed136;
}
.navbar-default 
.navbar-toggle 
.icon-bar{
	background-color:#fff
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
	background-color:#fed136}.navbar-default .nav li a{
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;
	font-weight:400;
	letter-spacing:1px;
	color:#fff
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus{
	color:#fed136;
	outline:0
}
	
@media (min-width:768px){
	.navbar-default{
		background-color:transparent;padding:25px 0;
		-webkit-transition:padding .3s;
		-moz-transition:padding .3s;
		transition:padding .3s;border:0
	}
	.navbar-default .navbar-brand{
		font-size:2em;
		-webkit-transition:all .3s;
		-moz-transition:all .3s;
		transition:all .3s
	}
/*	.navbar-default .navbar-nav>.active>a{
		border-radius:3px
	}*/
	.navbar-default.navbar-shrink{
		background-color:#222;
		padding:10px 0
	}
/*	.navbar-default.navbar-shrink .navbar-brand{
		font-size:1.5em
	}*/
}
 header{
 	background-image:url(../img/css_code.jpg);
 	background-repeat:none;
 	background-attachment:fixed;
 	background-position:center center;
 	-webkit-background-size:cover;
 	-moz-background-size:cover;
 	background-size:cover;
 	-o-background-size:cover;
 	text-align:center;
 	color:#fff;
 	height: 100vh;
 }
 header .intro-text{
    padding-top: 200px;
    padding-bottom: 200px;
 }
 header .intro-text .intro-lead-in{
 	font-family:"Droid Serif","Helvetica Neue",Helvetica,sans-serif;
 	font-style:italic;
 	font-size:22px;
 	line-height:22px;
 	margin-bottom:25px
 }
 header .intro-text .intro-heading{
	font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    text-transform: capitalize;
    font-weight: inherit;
    font-size: 75px;
    line-height: 100px;
    margin-bottom: 40px;	
 }
section{
	padding:100px 0
}
section h2.section-heading{
	font-size:40px;
	margin-top:0;
	margin-bottom:7rem;
}
section h3.section-subheading{
	font-size:16px;
	font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:none;
	font-style:italic;
	font-weight:400;
	margin-bottom:75px}

@media (min-width:768px){
	section{
			padding:120px 0
	}
}

#portfolio .portfolio-item{
	margin:0 0 15px;
	right:0
}
#portfolio .section-heading {
	color: #fed136;
}
#portfolio .portfolio-item .portfolio-link{
	display:block;
	position:relative;
	max-width:400px;
	margin:0 auto
}
#portfolio 
.portfolio-item 
.portfolio-link 
.portfolio-hover{
	background:rgba(254,209,54,.9)
	;position:absolute;
	width:100%;
	height:100%;
	opacity:0;transition:all ease .5s;
	-webkit-transition:all ease .5s;
	-moz-transition:all ease .5s
}
#portfolio
.portfolio-item
.portfolio-link
.portfolio-hover:hover{
	opacity:1
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content{
	position:absolute;
	width:100%;
	height:20px;
	font-size:20px;
	text-align:center;
	top:50%;
	margin-top:-12px;
	color:#fff
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4{
	margin:0
}

#portfolio *{
	z-index:2;
}
@media (min-width:767px){
	#portfolio .portfolio-item{
		margin:0 0 30px
	}
}
.timeline{
	list-style:none;
	padding:0;
	position:relative
}
.timeline:before{
	top:0;bottom:0;
	position:absolute;content:"";
	width:2px;
	background-color:#f1f1f1;
	left:40px;
	margin-left:-1.5px
}
.timeline>li{
	margin-bottom:50px;
	position:relative;
	min-height:50px
}
.timeline>li:before,
.timeline>li:after{
	content:" ";
	display:table
}
.timeline>li:after{
	clear:both
}
.timeline>li .timeline-panel{
	width:100%;
	float:right;
	padding:0 20px 0 100px;
	position:relative;
	text-align:left
}
.timeline>li .timeline-panel:before{
	border-left-width:0;
	border-right-width:15px;
	left:-15px;
	right:auto
}
.timeline>li .timeline-panel:after{
	border-left-width:0;
	border-right-width:14px;
	left:-14px;
	right:auto}
.timeline>li .timeline-image{
	left:0;
	margin-left:0;
	width:80px;
	height:80px;
	position:absolute;
	z-index:100;
	background-color:#fed136;color:#fff;
	border-radius:100%;
	border:7px solid #f1f1f1;
	text-align:center
}
.timeline>li .timeline-image h4{
	font-size:10px;
	margin-top:12px;
	line-height:14px
}
.timeline>li.timeline-inverted>.timeline-panel{
	float:right;
text-align:left;
padding:0 20px 0 100px
}
.timeline>li.timeline-inverted>.timeline-panel:before{
	border-left-width:0;
border-right-width:15px;
left:-15px;right:auto}
.timeline>li.timeline-inverted>.timeline-panel:after{
	border-left-width:0;
border-right-width:14px;
left:-14px;
right:auto
}
.timeline>li:last-child{
	margin-bottom:0
}
.timeline .timeline-heading h4{
	margin-top:0;
color:inherit
}
.timeline .timeline-heading h4.subheading{
	text-transform:none
}
.timeline .timeline-body>p,.timeline .timeline-body>ul{
	margin-bottom:0
}
@media (min-width:768px){
	.timeline:before{
		left:50%
	}
	.timeline>li{
		margin-bottom:100px;
	min-height:100px
}
	.timeline>li .timeline-panel{
		width:41%;float:left;
	padding:0 20px 20px 30px;
	text-align:right
}
	.timeline>li .timeline-image{
		width:100px;
	height:100px;
	left:50%;
	margin-left:-50px
}
	.timeline>li .timeline-image h4{
		font-size:13px;
	margin-top:16px;
	line-height:18px
}
	.timeline>li.timeline-inverted>.timeline-panel{
		float:right;
	text-align:left;
	padding:0 30px 20px 20px
}
}
@media (min-width:992px){
	.timeline>li{
	min-height:150px
}
	.timeline>li .timeline-panel{
		padding:0 20px 20px
}
	.timeline>li .timeline-image{
		width:150px;
	height:150px;
	margin-left:-75px
}
	.timeline>li .timeline-image h4{
		font-size:18px;
	margin-top:30px;
	line-height:26px
}
	.timeline>li.timeline-inverted>.timeline-panel{
		padding:0 20px 20px
	}}
								
@media (min-width:1200px){
/*	.timeline>li{
	min-height:170px
}*/
	.timeline>li .timeline-panel{
	padding:0 20px 20px 50px
}
	.timeline>li .timeline-image{
	width:170px;
	height:170px;
	margin-left:-85px
}
	.timeline>li .timeline-image h4{
		margin-top:40px
}
	.timeline>li.timeline-inverted>.timeline-panel{
		padding:0 100px 20px 20px
}}

section#contact{
	background-color:#222;
	background-image:url(../img/map-image.png);
	background-position:center;
	background-repeat:no-repeat;
	color: white;}

footer{
	padding:25px 0;
	text-align:center
}
ul.social-buttons{
	margin-bottom:0
}
ul.social-buttons li a{
	display:block;
	background-color:#222;
	height:40px;
	width:40px;
	border-radius:100%;
	font-size:20px;
	line-height:40px;
	color:#fff;outline:0;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s
}
ul.social-buttons li a:hover,ul.social-buttons li a:focus,ul.social-buttons li a:active{
	background-color:#fed136
}
.btn:focus,.btn:active,.btn.active,.btn:active:focus{
	outline:0
}

#skills#hobbies{
	text-align: center;
	padding: 10% 0;
	height: 100vh;
}
.fa-pagelines:before,
.fa-cutlery:before,
.fa-futbol-o:before,
.fa-headphones:before{
    font-size: 10rem;
    padding-top: 8rem;
}
.fa-pagelines:hover,
.fa-cutlery:hover,
.fa-futbol-o:hover,
.fa-headphones:hover,
.fa-pagelines:active,
.fa-cutlery:active,
.fa-futbol-o:active,
.fa-headphones:active{
 	color:#fed136;
 	font-size: 1rem;
 }
/*#hobbies .hob .more h3:hover,
#hobbies .hob .more h3:active,
#hobbies .hob .more p:hover,
#hobbies .hob .more p:active {
	color:#fed136;
	font-size: 2rem;
}*/
.pd-5{
	margin-bottom: 5rem;
}
.mg-bt{
	margin-bottom: 5%;
}
.skills:hover{
	cursor:pointer;
}
.skills ul
{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
.skills li
{
	margin-bottom:2px;
	padding:5px;
	background:#ccc;
	position:relative;
	-webkit-transition:all 2s ease;
	-moz-transition:all 2s ease;
	transition:all 2s ease;
}
.skills ul li:last-child
{
	height:100px;
	background:#31333F;
	text-align:center;
	-webkit-transition:all 2s ease;
	-moz-transition:all 2s ease;
	transition:all 2s ease;
	color:#31333F;
}
.skills ul li:last-child{position:relative;}
.skills:nth-child(1) ul li:nth-child(10){ background:#31333F;}
.skills:nth-child(1) ul li:nth-child(9){ background:#31333F;}
.skills:nth-child(1) ul li:nth-child(8){ background:#31333F;}
.skills:nth-child(1) ul li:nth-child(7){ background:#31333F;}
.skills:nth-child(1) ul li:nth-child(6){ background:#31333F;}
.skills:nth-child(1) ul li:nth-child(5){ background:#31333F;}
.skills:nth-child(1) ul li:nth-child(4){ background:#31333F;}
.skills:nth-child(2) ul li:nth-child(10){ background:#31333F;}
.skills:nth-child(2) ul li:nth-child(9){ background:#31333F;}
.skills:nth-child(2) ul li:nth-child(8){ background:#31333F;}
.skills:nth-child(2) ul li:nth-child(7){ background:#31333F;}
.skills:nth-child(3) ul li:nth-child(10){ background:#31333F;}
.skills:nth-child(3) ul li:nth-child(9){ background:#31333F;}
.skills:nth-child(3) ul li:nth-child(8){ background:#31333F;}
.skills:nth-child(3) ul li:nth-child(7){ background:#31333F;}
.skills:nth-child(3) ul li:nth-child(6){ background:#31333F;}
.skills:nth-child(3) ul li:nth-child(5){ background:#31333F;}
.skills:nth-child(3) ul li:nth-child(4){ background:#31333F;}
.skills:nth-child(3) ul li:nth-child(3){ background:#31333F;}
.skills:nth-child(3) ul li:nth-child(2){ background:#31333F;}
.skills:nth-child(4) ul li:nth-child(10){ background:#31333F;}
.skills:nth-child(4) ul li:nth-child(9){ background:#31333F;}
.skills:nth-child(4) ul li:nth-child(8){ background:#31333F;}
.skills:nth-child(4) ul li:nth-child(7){ background:#31333F;}
.skills:nth-child(4) ul li:nth-child(6){ background:#31333F;}

.skills i{
	color:#fff; 
	font-size:3em;
	position:relative;
	top:25px;display:block;	
	-webkit-transition:all 2s ease;
	-moz-transition:all 2s ease;
	transition:all 2s ease;
}
.skills:nth-child(1):hover li:nth-child(11) i{
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
	color:#31333F;
}
.skills li:last-child:after{
	position:absolute;
    display:block;
    left:22px;
	bottom:-0px;
	color:#31333F;
	z-index:-1;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
    -webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
	text-align: center;	
}
.skills :hover li:last-child:after
{
	bottom:15px;
	z-index:1;
    -webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
}
.skills:nth-child(1):hover li:nth-child(11) {
	background:#fed136;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	transition:all 0.5s ease;
	color:white
}
.skills:nth-child(1):hover li:nth-child(10) {
	background:#fed136;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
}
.skills:nth-child(1):hover li:nth-child(9) {
	background:#fed136;
	-webkit-transition:all 1.5s ease;
	-moz-transition:all 1.5s ease;
	transition:all 1.5s ease;
}
.skills:nth-child(1):hover li:nth-child(8) {
	background:#fed136;
	-webkit-transition:all 2s ease;
	-moz-transition:all 2s ease;
	transition:all 2s ease;
}
.skills:nth-child(1):hover li:nth-child(7) {
	background:#fed136;
	-webkit-transition:all 2.5s ease;
	-moz-transition:all 2.5s ease;
	transition:all 2.5s ease;
}.skills:nth-child(1):hover li:nth-child(6) {
	background:#fed136;
	-webkit-transition:all 3s ease;
	-moz-transition:all 3s ease;
	transition:all 3s ease;
}
.skills:nth-child(1):hover li:nth-child(5) {
	background:#fed136;
	-webkit-transition:all 3.5s ease;
	-moz-transition:all 3.5s ease;
	transition:all 3.5s ease;
}
.skills :nth-child(1):hover li:nth-child(4) {
	background:#fed136;
	-webkit-transition:all 4s ease;
	-moz-transition:all 4s ease;
	transition:all 4s ease;
}

.skills :nth-child(2):hover li:nth-child(11) {
	background:#0092BF;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.skills :nth-child(2):hover li:nth-child(11) i
{
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
	color:#31333F;
}
.skills :nth-child(2):hover li:nth-child(10) {
	background:#0092BF;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
}
.skills :nth-child(2):hover li:nth-child(9) {
	background:#0092BF;
	-webkit-transition:all 1.5s ease;
	-moz-transition:all 1.5s ease;
	transition:all 1.5s ease;
}
.skills :nth-child(2):hover li:nth-child(8) {
	background:#0092BF;
	-webkit-transition:all 2s ease;
	-moz-transition:all 2s ease;
	transition:all 2s ease;
}
.skills:nth-child(2):hover li:nth-child(7) {background:#0092BF;-webkit-transition:all 2.5s ease;-moz-transition:all 2.5s ease;transition:all 2.5s ease;}

.skills:nth-child(3):hover li:nth-child(11) {
	background:#f00;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.skills:nth-child(3):hover li:nth-child(11) i
{
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
	color:#31333F;
}
.skills :nth-child(3):hover li:nth-child(10) {background:#f00;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;transition:all 0.5s ease;}
.skills :nth-child(3):hover li:nth-child(9) {background:#f00;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;}
.skills :nth-child(3):hover li:nth-child(8) {background:#f00;-webkit-transition:all 1.5s ease;-moz-transition:all 1.5s ease;transition:all 1.5s ease;}
.skills :nth-child(3):hover li:nth-child(7) {background:#f00;-webkit-transition:all 2s ease;-moz-transition:all 2s ease;transition:all 2s ease;}
.skills :nth-child(3):hover li:nth-child(6) {background:#f00;-webkit-transition:all 2.5s ease;-moz-transition:all 2.5s ease;transition:all 2.5s ease;}
.skills :nth-child(3):hover li:nth-child(5) {background:#f00;-webkit-transition:all 3s ease;-moz-transition:all 3s ease;transition:all 3s ease;}
.skills :nth-child(3):hover li:nth-child(4) {background:#f00;-webkit-transition:all 3.5s ease;-moz-transition:all 3.5s ease;transition:all 3.5s ease;}
.skills :nth-child(3):hover li:nth-child(3) {background:#f00;-webkit-transition:all 4s ease;-moz-transition:all 4.5s ease;transition:all 4.5s ease;}
.skills :nth-child(3):hover li:nth-child(2) {background:#f00;-webkit-transition:all 5s ease;-moz-transition:all 5s ease;transition:all 5s ease;}
.skills:nth-child(4):hover li:nth-child(11) {background:#027844;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;transition:all 0.5s ease;
}
.skills:nth-child(4):hover li:nth-child(11) i
{
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
	color:#31333F;
}
.skills img{
	margin: 2rem;
	width: 	4rem;
	height: 4rem;
	margin-top: 0;
}
.skills:nth-child(4):hover li:nth-child(10) {background:#027844;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;transition:all 0.5s ease;}
.skills:nth-child(4):hover li:nth-child(9) {background:#027844;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;}
.skills:nth-child(4):hover li:nth-child(8) {background:#027844;-webkit-transition:all 1.5s ease;-moz-transition:all 1.5s ease;transition:all 1.5s ease;}
.skills:nth-child(4):hover li:nth-child(7) {background:#027844;-webkit-transition:all 2s ease;-moz-transition:all 2s ease;transition:all 2s ease;}
.skills:nth-child(4):hover li:nth-child(6) {background:#027844;-webkit-transition:all 2.5s ease;-moz-transition:all 2.5s ease;transition:all 2.5s ease;}
